body{
    background-color: lightblue;
}

h1 {
    font-family: Arial; 
    text-align: center;
    color: black;
}
.poga {
   border-top: 1px solid #9409f8;
   background: #6fa81e;
   background: -webkit-gradient(linear, left top, left bottom, from(#78139d), to(#6fa81e));
   background: -webkit-linear-gradient(top, #78139d, #6fa81e);
   background: -moz-linear-gradient(top, #78139d, #6fa81e);
   background: -ms-linear-gradient(top, #78139d, #6fa81e);
   background: -o-linear-gradient(top, #78139d, #6fa81e);
   padding: 7.5px 15px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.poga:hover {
   border-top-color: #940fc8;
   background: #940fc8;
   color: #ccc;
   }
.poga:active {
   border-top-color: #6fa81e;
   background: #6fa81e;
   }
   
.space { margin-top: 300px; }

.smallspace {
    margin-top: 70px; }
}