h1 {
    text-align: center;
    color: red ;
    font-size: 50px;
    font-family: Trebuchet MS, sans-serif;
}

h2 {
    text-align: center;
    color: white;
    text-align: center; 
    font-family: Verdana;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(240, 28, 28);
    font-size: 50px;
    font-family: DejaVu Sans Mono, monospace;
}

h4 {
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #48494b;
}

p {
    font-size: 30px;    
    color: white;
    font-family: Arial Narrow, sans-serif;
}





#rcorners1 {
    border-radius: 25px;
    background: #222021;
    padding: 20px; 
    width: 900px;
    height: 1000px;
    border-radius: 0.25rem
}

#rcorners2 {
    border-radius: 25px;
    background: #222021;
    padding: 20px; 
    width: 900px;
    height: 600px;
    border-radius: 0.25rem;
}
