h1 {
    text-align: center;
    color: #949494 ;
    font-size: 50px;
    font-family: Trebuchet MS, sans-serif;
}

h2 {
    text-align: center;
    color: white;
    text-align: center; 
    font-family: Verdana;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(240, 28, 28);
    font-size: 50px;
    font-family: DejaVu Sans Mono, monospace;
}

h4 {
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #48494b;
}

p {
    font-size: 30px;    
    color: white;
    font-family: Arial Narrow, sans-serif;
}





#rcorners1 {
    border-radius: 25px;
    background: #222021;
    padding: 20px; 
    width: 900px;
    height: 1400px;
    border-radius: 0.25rem
}


#rcorners2 {
    border-radius: 25px;
    background: #222021;
    padding: 20px; 
    width: 900px;
    height: 600px;
    border-radius: 0.25rem;
}

.button {
  background-color: #3b5946;
  border: none;
  color: grey;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.7s;
  cursor: pointer;
}


.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #3115ff;
  color: white;
}


a {
	color:#7fd079
}
